# Java files
*.class

*.war

# Idea files
*.iml
*.ipr
*.iws
out

# GWT files
/war/WEB-INF/classes/
/war/WEB-INF/deploy/
/war/WEB-INF/lib/
/gwt-unitCache/
gwt-unitCache/
war/stockwatcher/
reports/
www-test/
/build

# Eclipse related stuff
.classpath
.project
.settings
/WebContent